table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: #b66d00;
  color: #fff;
  font-weight: bold;
  padding: 6px;
  text-align: center;
}

td {
  border: 1px solid #ddd;
  padding: 8px;
}

tr:hover {
  background-color: #df6b6b;
}
