.icon {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon svg {
  position: relative;
  height: 32px;
  width: 32px;
  fill: white;
}

.icon:hover svg {
  fill: #b66d00;
}
