.navbar {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #b66d00;
  width: 100%;
  height: 3rem;
  z-index: 5;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  border-collapse: collapse;
  list-style: none;
}

.list > li {
  box-sizing: border-box;
  border: 1px solid #ddd;
  height: 3rem;
  width: 50%;
  text-align: center;
  /* background-color: #b66d00; */
  color: #fff;
  font-weight: bold;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list > li:hover {
  background-color: #905a0a !important;
}

.active {
  background-color: #834f00;
}
